:root {
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  background: #FADF5A;
  color: #000000;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.utilizacao {
  text-align: center;
  margin: 30px auto;
  max-width: 350px;
  background: linear-gradient(180deg, white, #FFF6BA);
  padding: 10px;
}

@media (max-width:375px) {
  .utilizacao {
    width: 90%
  }
}

.utilizacao__titulo {
  font-weight: 800;
}

.utilizacao__lista-Acoes__item {
  padding: 20px;
}

.utilizacao__lista-Acoes {
  display: none;
}

.utilizacao__titulo:hover {
  cursor: help;
  color: #1A1AF7;
  transform: scale(1.3);
}

.Cabecalho {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, white 3%, #FFF6BA);
  height: 200px;
}

.hdrLogo {
  width: 150px;
  height: 200px;
}

.nvMenu {
  display: flex;
  align-items: center;
}

.nvMenu a {
  text-decoration: none;
  padding: 9%;
  flex-direction: column;
  align-items: center;
  color: blue;
  font-size: 30px;
}

.nvMenu a:hover {
  color: orange;
}

.nvMenu a:active {
  color: blue;
}

#textTarefaValor {
  width: 360px;
  font-size: 1em;
  transition: 200ms;
}

#textTarefaValor:hover {
  transform: scale(1.1);
}

#textTarefaValor::placeholder {
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.invalid {
  animation: shake 0.5s;

}

.invalid::placeholder {
  color: red;
}

.boxBtnAndTxtInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

@media (max-width:375px) {

  .ToDoList,
  #textTarefaValor {
    width: 90%
  }
}

.btn {
  width: 150px;
  height: 40px;
  margin: 10px 0;
  font-size: 0.8em;
  border-radius: 10px;
  font-weight: 800;
}

#btnDeletarAllTasks {
  background: tomato;
  color: antiquewhite;
  transition: 200ms;
}

#btnDeletarAllTasks:hover {
  cursor: pointer;
  color: #F21E1E;
  transform: scale(1.3);
}

#btnInserir {
  background: lightgreen;
  transition: 200ms;
}

#btnInserir:hover {
  cursor: pointer;
  color: #1A1AF7;
  transform: scale(1.3);
}


@media (max-width:768px) {
  .btn {
    width: 200px;
    margin: 30px 0;
    margin-left: 1%;
  }
}

.ToDoList {
  font-size: 1.3em;
  border: 1px solid #000000;
  margin: 2% auto;
  max-width: 360px;
}

.ToDoList__lista-tarefas {
  background: #F1C4A5;
  border-bottom: 1px double #000000;
  margin-left: 1%;
  max-width: 360px;
}

.ToDoList__hdr {
  text-align: center;
  background: #65350f;
  color: white;
}

.ToDoList__lista-tarefas__item {
  border: 1px solid #000;
}

.ToDoList__lista-tarefas__item:hover {
  cursor: pointer;
  opacity: 70%;
  color: #1A1AF7;
}

.line-through {
  text-decoration: line-through;
  color: green;
}

.mostrar-display {
  display: block;
}