:root {
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  background: #FEE9CC;
  color: #000000;
  box-sizing: border-box;
}

body {
  /* background-image: url("fundo.png"); */
  background: #FADF5A;
  width: 100vw;
  height: 100vh;
}

.utilizacao {
  text-align: center;
  margin: 30px auto;
  max-width: 350px;
  background: linear-gradient(180deg, white, #FFF6BA);
  padding: 10px;
}

.utilizacao__titulo {
  font-weight: 800;
}

.utilizacao__lista-Acoes__item {
  padding: 10px;
}

.Cabecalho {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, white 3%, #FFF6BA);
  height: 200px;
}

.hdrLogo {
  width: 150px;
  height: 200px;
}

.nvMenu {
  display: flex;
  align-items: center;
}

.nvMenu a {
  text-decoration: none;
  padding: 9%;
  flex-direction: column;
  align-items: center;
  color: blue;
  font-size: 30px;
}

.nvMenu a:hover {

  color: orange;

}

.nvMenu a:active {
  color: blue;
}

#textTarefaValor {
  min-width: 250px;
  font-size: 1em;
}

.boxBtnAndTxtInput {
  display: flex;
  justify-content: center;
}

#textTarefaValor {
  width: 25%;
}

#textTarefaValor::placeholder {
  text-align: center;
}

.btn {
  font-size: 0.8em;
  margin-left: 1%;
}

.ToDoList {
  font-size: 1.3em;
  border: 1px solid #000000;
  margin: 2% auto;
  max-width: 360px;
}

.ToDoList__lista-tarefas {
  background: #F1C4A5;
  border-bottom: 1px double #000000;
  margin-left: 1%;
  max-width: 360px;
}

.ToDoList__hdr {
  text-align: center;
  background: #65350f;
  color: white;
}

.ToDoList__lista-tarefas__item {
  border: 1px solid #000;
}

.line-through {
  text-decoration: line-through;
  color: green;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}